<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <a href="/get4433">
    	<div class="chooseRisk">
	    	<img height="250px" src="images/high_return.png" />
	    	<img width="373px" height="250px" src="images/high_risk.png" />
	    	<p class="Riskcontent">高 <img width="30px" src="images/arrow.png"/></p>
    	</div>
    </a>

     <a href="/get4433">
     <div class="chooseRisk">
    	<img height="250px" src="images/midhigh_return.png"></img>
    	<img height="250px" src="images/midhigh_risk.png"></img>
	    	<p class="Riskcontent">中<br>高<img width="30px" src="images/arrow.png"/></p>
    </div>
    </a>

     <a href="/get4433">
     <div class="chooseRisk">
    	<img height="250px" src="images/middle_return.png"></img>
    	<img height="250px" src="images/middle_risk.png"></img>
	    	<p class="Riskcontent">中 <img width="30px" src="images/arrow.png"/></p>
    </div>

     <a href="/get4433">
     <div class="chooseRisk">
    	<img height="250px" src="images/midlow_return.png"></img>
    	<img height="250px" src="images/midlow_risk.png"></img>
	    	<p class="Riskcontent">中<br>低<img width="30px" src="images/arrow.png"/></p>
    </div>
    </a>

     <a href="/get4433">
     <div class="chooseRisk">
    	<img height="250px" src="images/low_return.png"></img>
    	<img height="250px" src="images/low_risk.png"></img>
	    	<p class="Riskcontent">低 <img width="30px" src="images/arrow.png"/></p>
    </div>
    </a>
  </body>
</html>
